* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

#title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}
#general{
    max-width: 900px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

}
#columnas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#columna1 {
    font-size: 30px;
    margin-top: 0%;
    border-right: solid;
}

#columna2 {
    font-size: 30px;
    width: 350px;
}

#especialidades {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    border-bottom: solid;
    width: 80%;
    margin: auto;
}

#hamburguesas {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    border-bottom: solid;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

#bebidas {
    height: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    border-bottom: solid;
    margin-left: 40px;
}

#botanas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-left: 10%;
}

#especialidad {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#hamburguesa {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

#bebida {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

#botana {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.hamburguesa-img{
    width: 200px;
    margin-left: 70px;
}
.helado-img{
    width: 200px;
    margin-top: 5px;
}


