nav{
    width: 100vw;
    height: 40px;
    background-color: black;
}
ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}
.button{
    border: solid;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
    width: 50px;
    text-align: center;
    padding: 5px;
}
.button:hover{
    color: yellow;
}